{
  "postgres": {
    "host": "",
    "port": "",
    "user": "",
    "password": "",
    "database": ""
  },
  "logs": {
    "path": "logs",
    "debug": "debug.log",
    "error": "error.log",
    "general": "general.log"
  }
}
